// Couleurs 
$colors: (
    background: #F0DCD3,
    black: #373741,
    blue: #323949,
    grey: #6D6D6D,
    white: #FFFFFF,
);

// Typo 
$typo: (
    cabin-reg: ('Cabin-regular', cabin-regular),
    cabin-sb: ('Cabin-semi-bold', cabin-semi-bold),
    cabin-bold: ('Cabin-Bold', cabin-bold),
    fjalla: ('Fjalla-One', fjalla),
    roboto: ('Roboto', roboto)
)

// Tailles typographiques 
