// Couleurs 
$colors: (
    background: #F0DCD3,
    black: #373741,
    light-blue: #4374EF,
    blue: #323949,
    grey: #6D6D6D,
    white: #FFFFFF,
);

// Typo 
$typo: (
    cabin-reg: 'Cabin-regular',
    cabin-sb: 'Cabin-semi-bold',
    cabin-bold: 'Cabin-Bold',
    fjalla: 'Fjalla-One',
    roboto: 'Roboto'
);

// Tailles typographiques 
$body: (
    extra-small: 11px,
    small: 13px,
    medium: 14px,
    regular: 15px,
    large:16px,
);

$title: (
    small: 20px,
    regular: 35px,
    large: 30px,
);